body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

nav {
    width: 100vw;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    background-color: rgb(223, 223, 223);
}

a {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #00539CFF;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

a:before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #002660;
    width: 0%;
    bottom: 10px;
}

a:hover {
    color: #002660;
    opacity: 1;
}

a:hover:before {
    color: rgb(0, 0, 0);
    opacity: 1;
    width: 100%;
}

.dashboard-block {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 80vw;
    padding: 10px;
    gap: 10px;
}

.input-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dashboard-block input {
    padding: 10px;
    width: 250px;
    border: 3px solid black;
}

.dashboard-block input:focus, textarea {
    outline: none !important;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: 300px;
    padding: 2px;
}

.list-item input {
    width: 15px;
}

.check-btn {
    background-color: rgb(24, 206, 0);
}

.delete-btn {
    background-color: red;
}

/* .scratched {
    text-decoration: line-through;
} */

.scratched {
    position: relative;
  }

  .scratched:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: gray;
  }